<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HTTP Status Code Scavenger Hunt</title>
    <meta name="description" content="HTTP Status Code Scavenger Hunt">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://unpkg.com/picnic">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <script src="/change_password.js"></script>
    
    <script src="https://kit.fontawesome.com/065cbbd826.js"></script>
  </head>
  <body style="height: 100%">
    <header style="text-align: center">
      <h1>
        HTTP Status Code Scanvenger Hunt
      </h1>
      <h2>
        Change Password
      </h2>
    </header>
    
    <main class="main">
      <div class="flex four">
        <div class="half off-fourth">
          <fieldset class="flex">
            <label><input type="password" placeholder="Old Password" id="signup_password_0"></label>
            <label><input type="password" placeholder="New Password" id="signup_password_1"></label>
            <label><input type="password" placeholder="Repeat New Password" id="signup_password_2"></label>
            <label><button style="width:100%" id="change_submit">Submit</button></label>
          </fieldset>
          <h3 id="password_mismatch" class="toast-hidden"><span  class="label warning">Passwords don't match!</span></h3>
          <h3 id="change_unsuccessful" class="toast-hidden"><span  class="label warning">Wrong Password</span></h3>
        </div>
      </div>
    </main>

    <footer style="text-align: center">
      <a class="button info" href="/home">
        Home
      </a>
    </footer>
  </body>
</html>
