<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HTTP Status Code Scavenger Hunt</title>
    <meta name="description" content="HTTP Status Code Scavenger Hunt">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://unpkg.com/picnic">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <script src="https://kit.fontawesome.com/065cbbd826.js"></script>
  </head>
  <body style="height: 100%">
    <header style="text-align: center">
      <h1>
        HTTP Status Code Scavenger Hunt
      </h1>
      <h2>
        Help
      </h2>
    </header>
    
    <main class="main">
      <div class="flex four">
        <div class="half off-fourth">
          <p>To add a comment, type it out and press 'Submit'.</p>
          <p>To remove one of your comments, press the red X button.</p>
          <p>To make a request, fill out the form in the center. GET requests will ignore the body.</p>
          <p>Requests must contain valid JSON for the header field and the body field.</p>
        </div>
      </div>
    </main>

    <footer style="text-align: center">
      <a class="button info" href="/home">
        Home
      </a>
    </footer>
  </body>
</html>
