<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HTTP Status Code Scavenger Hunt</title>
    <meta name="description" content="HTTP Status Code Scavenger Hunt">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://unpkg.com/picnic">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <script src="https://kit.fontawesome.com/065cbbd826.js"></script>
  </head>
  <body style="height: 100%">
    <header style="text-align: center">
      <h1>
        HTTP Status Code Scavenger Hunt
      </h1>
      <h2>
        Hints
      </h2>
    </header>
    
    <main class="main">
      <div class="flex four">
        <div class="half off-fourth">
          <p>The sitemap is your friend!</p>
          <p>Read the <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/toExponential">docs.</a></p>
          <p>The server can't handle really long inputs of any type.</p>
        </div>
      </div>
    </main>

    <footer style="text-align: center">
      <a class="button info" href="/home">
        Home
      </a>
    </footer>
  </body>
</html>
