<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--<link rel="stylesheet" type="text/css" href="css/style.css">-->
   <!--CSS Framework-->
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="https://unpkg.com/turretcss/dist/turretcss.min.css" crossorigin="anonymous">
    <!--<script src="./home.js"></script>-->
  </head>
  <body>
    <h1>Welcome!</h1>
    <p>Movie Tracker Allows you to track the movies you have watched and rate them!</p>
    <h3>Your Current Movies</h3>
    <div><p id="table"></p></div>
    <h3> Want to add a movie?</h3>
       <form action="">
        <p>Title: <input type="text" id="newTitle" class= "box" value=""></p>
        <p>Genre: <input type="text" id="newGenre" class= "box" value=""></p>
        <p>Rating: <input type="text" id="newRating" class= "box" value="" placeholder="1-5"></p>
        <button id="addButton">Add Movie</button>
       </form>
    <br>
    <h3>Edit An Entry</h3>
    <form aciton="">
        <p>Edit Entry: <input type="text" id="editId" class= "box" placeholder="Enter ID (Required)"></p>
        <p>New Information (you do not have to fill all fields, just the ones you want to change)</p>
        <p>Title: <input type="text" id="editTitle"  class= "box" placeholder="Movie Changed its Name?"></p>
        <p>Genre: <input type="text" id="editGenre" class= "box"  placeholder="Want to Change Genre?"></p>
        <p>Rating: <input type="text" id="editRating" class= "box"  placeholder="Change your Mind?"></p>
        <button id="editButton">Edit</button>
    </form>
    <br>
    <h3>Delete An Entry</h3>
    <form action="">
        <p>Delete Entry: <input type="text" id="deleteEntry" class= "box" placeholder="Enter ID"></p>
        <button id="deleteButton">Delete</button>
    </form> 
    <br>
    <br>
    <!--<table id="Data" class="padding-table-columns">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Rating (1-5)</th>
        </tr>
    </table>-->
    </body>

  <script>
      /*
      fetch('/', {
          method: 'GET',
          headers: { 'Content-Type': 'application/json' }
          fabicon 

      })*/
    var table; 
  window.onload = function(){
    //console.log("home was called");  
    //display table
      table = document.createElement("table")

      //adding new entry
      const addButton = document.getElementById('addButton')
      addButton.onclick = addEntry

      //editing entry
      const editButton = this.document.getElementById('editButton')
      editButton.onclick = editEntry 

      //delete an entry 
      const deleteButton = this.document.getElementById('deleteButton')
      deleteButton.onclick = deleteEntry

      getData()
  }


  //Function for adding new entry to table
  const addEntry = function(e){
      e.preventDefault
      const body = JSON.stringify({
          ID : 0,
          Title: document.querySelector("#newTitle").value,
          Genre: document.querySelector("#newGenre").value,
          Rating: document.querySelector("#newRating").value
      })

      fetch('/add',{
          method: 'POST',
          body,
          headers: { 'Content-Type': 'application/json' }
      }).then(function(res){
          console.log("Entry was added")
          return res.json()
      }).then(function(json){
          displayTable(json)
      })
      return false 
  }

  //Function to edit an entry 
  const editEntry = function(e){
      e.preventDefault

      const body = JSON.stringify({
          ID: document.querySelector("#editId").value,
          Title: document.querySelector("#editTitle").value,
          Genre: document.querySelector("#editGenre").value,
          Rating: document.querySelector("#editRating").value
      })
      console.log("Entry is going to be edited")
      fetch('/edit',{
          method: 'POST',
          body,
          headers: { 'Content-Type': 'application/json' }
      }).then(function(res){
          console.log("Entry was edited")
          return res.json()
      }).then(function(json){
          displayTable(json)
      })
      return false 
  }
  //function to delete entry 
  const deleteEntry = function(e){
      e.preventDefault

      const body = JSON.stringify({
          ID: document.querySelector("#deleteEntry").value
      })

      fetch('/delete',{
          method: 'POST',
          body,
          headers: { 'Content-Type': 'application/json' }
      }).then(function(res){
          console.log("Entry was Deleted")
          return res.json()
      }).then(function(json){
          displayTable(json)
          location.reload()
      })
      return false 
  }

  //function to make table appear 
  const displayTable = function( json ) {
      console.log( "display table was called")

      var col = [];
      for (var i = 0; i < json.length; i++) {
        for (var key in json[i]) {
          if (col.indexOf(key) === -1) {
            col.push(key);
          }
        }
      }
      // CREATE DYNAMIC TABLE.
      table.innerHTML = ""

      // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.
      var tr = table.insertRow(-1)                   // TABLE ROW.

      for (var i = 0; i < col.length; i++) { // change this 
        var th = document.createElement( "th" )
        th.innerHTML = col[i]
        tr.appendChild(th)
      }

      // ADD JSON DATA TO THE TABLE AS ROWS.
      for (var i = 0; i < json.length; i++) {
        tr = table.insertRow(-1)

        for (var j = 0; j < col.length; j++) {
          var tabCell = tr.insertCell(-1)
          tabCell.innerHTML = json[i][col[j]]
        }
      }

    var divContainer = document.getElementById( "table" )
    divContainer.innerHTML = ""
    divContainer.appendChild(table)
  }

  const getData = function(){
      fetch('/data',{
          method: 'GET'
      }).then(function(res){
          console.log("Entry was added")
          return res.json()
      }).then(function(json){
          displayTable(json)
      })
      return false 

  }

  </script>
</html>