<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HTTP Status Code Scavenger Hunt</title>
    <meta name="description" content="HTTP Status Code Scavenger Hunt">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://unpkg.com/picnic">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <script src="https://kit.fontawesome.com/065cbbd826.js"></script>
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/home.js" defer></script>
  </head>
  <body style="height: 100%">
    <header style="text-align: center">
      <h1>
        HTTP Status Code Scavenger Hunt
      </h1>
      <a class="button success" href="/changePassword">
            Change Password
      </a>
      <a class="button error" href="/logout">
            Logout
      </a>
    </header>
    
    <main class="main">
      <div class="flex four">
        <div class="">
          <fieldset class="flex">
            
            <h2>
              Comments
            </h2>
            <div style="overflow-y: scroll; height: 300px; padding: 0px" id="message_display">
            </div>
            <br />
            <textarea placeholder="Write a comment..." id="message"></textarea>
            <button id="submit_message" style="width: 100%;">
              Submit
            </button>
          </fieldset>
        </div>
        <div class="half">
          <h2>
            Make a Request
          </h2>
          <fieldset class="flex" style="padding-left: 18px">
            <select class="stack" id="req_method">
              <option value="GET" selected>GET</option>
              <option value="POST">POST</option>
              <option value="DELETE">DELETE</option>
              <option value="PUT">PUT</option>
            </select>
            <input class="stack" type="text" placeholder="Path" id="req_path" value="/sitemap">
            <select class="stack" id="req_creds">
              <option value="include">Send credentials</option>
              <option value="omit">Omit credentials</option>
            </select>
            <textarea class="stack" placeholder="Headers (must be valid JSON)" id="req_headers"></textarea>
            <textarea placeholder="Body (must be valid JSON)" id="req_body"></textarea>
            <button id="submit_req" style="width: 100%;">
              Submit
            </button>
          </fieldset>
          <pre id="req_out" style="margin-left: 6px"></pre>
          
        </div>
        <div class="">
          <h2>
            Awards (<span id="awards_received">0</span>/<span id="awards_total">0</span>)
          </h2>
          <div style="overflow-y: scroll; height: 300px" id="award_display">
            
          </div>
        </div>
      </div>
    </main>

    <footer style="text-align: center">
    </footer>
  </body>
</html>
