html
  head
    meta(charset='UTF-8')
    title Sample React App
  body
    h1 Sample React App
    #root
    script(src='build/bundle.js')
    |       strong focus on performance
    |       and powerful features.
    p
    form(action="/login", method="post")
      div
        label Username:
        input(type="text", name="username") 
        br
      div
        label Password:
        input(type="password", name="password")
      div
      input(type="submit", value="Submit")
