<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://unpkg.com/simple-gdpr@1.1.5/dist/simplegdpr.umd.js"></script>
    <link href="https://unpkg.com/simple-gdpr@1.1.5/dist/simplegdpr.min.css" rel="stylesheet">
    
    
    <link rel="stylesheet" href="https://unpkg.com/picnic">
    
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header style="text-align: center">
      <h1>
        HTTP Status Code Game
      </h1>
    </header>

    <main style="text-align: center">
      <div class="flex">
        <div>
        </div>
        <div>
          <h2>
            Signup
          </h2>
            <fieldset class="flex two">
              <label><input type="email" placeholder="Email"></label>
              <label><input type="password" placeholder="Password"></label>
            </fieldset>
        </div>
        <div>
          <h2>
            Login
          </h2>
        </div>
        <div></div>
      </div>
    </main>

    <footer style="text-align: center">
      Forgot your account? <span data-tooltip="Sorry about your progress!" class="tooltip-top">Make a new one!</span>
    </footer>
  </body>
</html>
