<!doctype html>
<html lang="en">
  <head>
    <title>Inventory Manager Login</title>
    <meta name="description" content="Inventory Manager Login">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/style.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">
    <link rel="shortcut icon" href="https://cdn.glitch.com/1b6ba422-b77a-48e2-96fe-a31537973221%2Ffavicon.ico?v=1568611668241">
  </head>
  <body>
    <br><br>
    <h1>
      <section class="container-form">
      Inventory Manager Login
      </section>
    </h1>
    <br><br>
    <section class="container-form">
      <form>
      <fieldset id="form">
        <label for="usernameInput">Username</label>
        <input type="text" placeholder="Username" id="usernameInput">
        <label for="passwordInput">Password</label>
        <input type="password" placeholder="Password" id="passwordInput">
        <input class="button-primary" id = "loginButton" type="button" value="LogIn">
        <input class="button-primary" id = "createActButton" type="button" value="Create New Account">
      </fieldset>
      </form>
    </section>
  </body>

</html>
<script src="/public/client.js"></script>