<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" type="image/ico"
     href="assets/glo.ico">
    <title>CS4241 Assignment 3</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <link href="../style.css" rel="stylesheet">
    <meta charset="utf-8">
  </head>
  <body>
    <h1>
      My Travel Dictionary App
    </h1>
   <div class="login">
     <form style="margin:7px" class="pure-form" action="">
      <input  name="username" type="text" id="username" placeholder="Username" value="">
       </form>
     <form style="margin:0px" class="pure-form" action="">
      <input name="password" type="password" id="password" placeholder="Password" value="">
     </form>
      <button style="margin:7px" id="loginButton" class="pure-button translate">Login!</button>
    
    </div>
     <h2 id="baddy">
      ACCOUNT CREDENTIALS INVALID
    </h2>
   
  </body>
  <script src="../login.js"></script>
</html>