<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </head>
    <body>
        <div>
            <h1 style="text-align: center" class="jumbotron">
                Welcome <%= user.username %>!
                <br>
                <img style="    margin-top: 10px;
                margin-bottom: -100px;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                border: 3px solid white;
                transition: all .5s;
                text-align: center;" src="https://cdn.glitch.com/9b45a307-0d38-4f8f-af08-41379046d234%2Fprofile_holder.jpg?v=1568821973210">
            </h1>
            <br>
            <br>
            <br>
        
            <h2>
                This is your Personal Profile Page
            </h2>
            <br>
            <h3>
                In the future you could maybe add your picture and some fun facts about yourself!
            </h3>
            <br>
            <br>
        </div>

        <p>
        <a class="btn btn-success btn-lg btn-block" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Give Us Feedback
        </a>
        </p>
        <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <div class="jumbotron">
                <h1 class="display-4">What are your Thoughts</h1>
                <p class="lead">What are your thoughts on this project? Enter any information you like into the field below.</p>
                <hr class="my-4">
                <textarea rows="4" cols="50">Feedback?
                </textarea>
                <br>
                <button type="button" class="btn btn-primary btn-lg">Submit</button>


                
        </div>
        </div>
          




    </body>
</html>





