<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Nyankotracker</title>
    <meta name="description" content="Track and share your cats!">
    <meta charset="utf-8">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="https://unpkg.com/marx-css/css/marx.min.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/units.js" defer></script>
  </head>
  <body>
    <header>
      <h1 align="center">
        Nyankotracker
      </h1>
    </header>
    <br>
    <br>
    <p id="randomText" align="center"/>
    <br>
    <table style="width=100%; margin-left:auto;margin-right:auto;">
      <tr>
        <th colspan="3">Normal</th>
        <th colspan="6">Coming soon... (maybe)</th>
      </tr>
      <tr>
        <td colspan="2">Cat</td>
        <td colspan="1" >  <input type="number" id="catLv" min="0"> </td>\
      </tr>
      <tr>
        <td colspan="2" text-align="right">Wall Cat</td>
        <td colspan="1" >  <input type="number" id="wallCatLv" min="0"> </td>
      </tr>
      <tr>
        <td colspan="2" text-align="right">Axe Cat</td>
        <td colspan="1" >  <input type="number" id="axeCatLv" min="0"> </td>
      </tr>
      <tr>
        <td colspan="2" text-align="right">Gross Cat</td>
        <td colspan="1" >  <input type="number" id="grossCatLv" min="0"> </td>
      </tr>
      <tr>
        <td colspan="2" text-align="right">Cow Cat</td>
        <td colspan="1" >  <input type="number" id="cowCatLv" min="0"> </td>
      </tr>
      <tr>
        <td colspan="2" text-align="right">Bird Cat</td>
        <td colspan="1" >  <input type="number" id="birdCatLv" min="0"> </td>
      </tr>
      <tr>
        <td colspan="2" text-align="right">Fish Cat</td>
        <td colspan="1" >  <input type="number" id="fishCatLv" min="0"> </td>
      </tr>
      <tr>
        <td colspan="2" text-align="right">Lizard Cat</td>
        <td colspan="1" >  <input type="number" id="lizardCatLv" min="0"> </td>
      </tr>
      <tr>
        <td colspan="2" text-align="right">Titan Cat</td>
        <td colspan="1" >  <input type="number" id="titanCatLv" min="0"> </td>
      </tr>
    </table>
    <button id="submit">Submit</button>
    <button id="delete" background-color="#ed3d26">Delete Account</button>
  </body>
</html>
