body{
  background: linear-gradient(40deg,lightblue,yellow,#ff571a)fixed;
  font-family: 'Kanit', sans-serif;
}

#main_heading{
  position: relative;
  top: 5px;
  text-align:center;
  color:black;
    
}

td, th {
  border: 2px solid black;
  color:black;
  background-color:white;
  text-align: center;
  padding: 8px;
}

#backButton:hover{
  border: 2px solid black;
  cursor: pointer;
}

#allContent{
  margin:auto;
  text-align:center;
  display:block;
}

#table {
  margin:auto;
}